body {
    font-family: 'Roboto', sans-serif;
}

.body-container {

}

.cust-navbar-brand {
    /* margin: auto; */
    /* padding-right: 50px;
    padding-left: 50px; */
    padding-top: 0;
    padding-bottom: 0;
    /* margin: 0 auto !important; */
    color: white !important;
    font-weight: bold;
    max-height: 100%;
    /* float:left; */
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: grey;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.cust-navbar {
  display: inline-block;
  border-bottom: 10px solid teal;
  width: 100%;
}

.custom-navbar-links {
    clear: both;
    margin-left: 40%;
    color: white !important;
}

.profile-img {
    margin: 5px;
    width: 50%;
    height: auto;
    float: left;
}

.my-jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* margin-top: 5%; */
    border-style: solid;
    border-color: teal;
    border-width: 2px;
}

.port-jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-style: solid;
    border-color: teal;
    border-width: 2px;
}

.clear-time {
    clear: both;
}

.copyright-text {
    text-align: center;
    background-color: black;
    padding: 10px 0px;
    border-top: 10px;
    border-top-style: solid;
    border-color: teal;
}

.card-text {
    text-align: center;
}

.card {
    border-style: solid;
    border-color: teal;
    border-width: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-fluid {
    background-image: url("../images/background.png");
    height: 100%;
    background-position: center;
    background-size: cover;
}


.contact-field-name {
    font-weight: bold;
    font-size: 20px;
}

.message-text-area {
    resize: none;
}

.my-card {
    background-color: teal !important;
}

.my-card-text {
    font-weight: bold;
    color: white;
}